<%- include( '../../partials/head.ejs' ); %>

<%- include( '../../partials/admin_nav.ejs') %>

<%- include( '../../partials/admin_side_nav.ejs') %>

    <div class="body col-12 col-sm-9 col-lg-10">
        
        <h2><%= title %></h2>

        <div class="row usercontrol">
            <div class="createuser col-12 col-lg-4 well">
               
                <h3>Create a new admin user</h3>
    
                <!-- show any messages that come back -->
                <% if (create_error.length > 0) { %>
                    <div class="alert alert-danger"><%= create_error %></div>
                <% } %>        
                <% if (create_success.length > 0) { %>
                    <div class="alert alert-success"><%= create_success %></div>
                <% } %>

                <form class='usercontrol--form' method="post" action="/usercontrol">

                    <label>User Name</label>
                    <input id='userNameCreate' class="form-control usercontrol--form__input" type="text" name="userNameCreate" placeholder="Insert New User Name" required>

                    <label>Create New Password</label>
                    <input id='userPassCreate' class='form-control usercontrol--form__input' type="password" name="userPassCreate" required>     

                    <label>Re-Enter New Password</label>
                    <input id='userPassCheckCreate' class='form-control usercontrol--form__input' type="password" name="userPassCheckCreate" required>

                    <button id="createUserBtn" class='btn btn-primary' type="submit">Create User</button>

                </form>
            </div>     

            <div class="edituserpass col-12 col-lg-4 well">
                <h3>Change user password</h3>
                
                <!-- show any messages that come back -->
                <% if (update_error.length > 0) { %>
                    <div class="alert alert-danger"><%= update_error %></div>
                <% } %>        
                <% if (update_success.length > 0) { %>
                    <div class="alert alert-success"><%= update_success %></div>
                <% } %>    

                <form class='usercontrol--form' method="post" action="/usercontrol">

                    <label>User Name</label>

                    <select id='userChangePass' class='form-control' name='userChangePass' required>
                        <option>Please Select...</option>
                        <% for (var i = 0; i < user_list.length; i++) { -%>
                            <option value="<%= user_list[ i ]%>">
                                <%= user_list[ i ]%>
                            </option>
                        <% } -%>
                    </select>

                    <label>New Password</label>
                    <input id='newUserPass' class="form-control usercontrol--form__input" type="password" name="newUserPass" required>
                    
                    <label>Confirm New Password</label>
                    <input id='confirmNewUserPass' class="form-control usercontrol--form__input" type="password" name="confirmNewUserPass" required>

                    <button id="userChangePassBtn" class='btn btn-warning' type="submit" name="submit">Delete User</button>

                </form>
            </div>

            <div class="deleteuser col-12 col-lg-4 well">
                <h3>Delete a admin user</h3>
                
                <!-- show any messages that come back -->
                <% if (delete_error.length > 0) { %>
                    <div class="alert alert-danger"><%= delete_error %></div>
                <% } %>        
                <% if (delete_success.length > 0) { %>
                    <div class="alert alert-success"><%= delete_success %></div>
                <% } %>     
                
                <form class='usercontrol--form' method="post" action="/usercontrol">

                    <label>User Name</label>

                    <select id='userNameDelete' class='form-control' name='userNameDelete'>
                        <option>Please Select...</option>
                        <% for (var i = 0; i < user_list.length; i++) { -%>
                            <option><%= user_list[ i ]%></option>
                        <% } -%>
                    </select>

                    <button id="deleteUserBtn" class='btn btn-danger' type="submit">Delete User</button>

                </form>
            </div>            
        </div>
    </div>

<%- include( '../../partials/footer.ejs' ); %>