<%- include( '../../partials/head.ejs' ); %>

<%- include( '../../partials/admin_nav.ejs') %>

<%- include( '../../partials/admin_side_nav.ejs') %>

<div class="body col-12 col-sm-9 col-lg-10">
	<h2><%= title %></h2>
	
</div>	


<%- include( '../../partials/footer.ejs' ); %>