<%- include( '../../partials/head.ejs' ); %>

<%- include( '../../partials/admin_nav.ejs') %>

<%- include( '../../partials/admin_side_nav.ejs') %>

<div class="body userpanel_gallery col-12 col-sm-9 col-lg-10">

    <h2><%= title %></h2>

    <h3>Make Gallery Live</h3>

    <%let checked = is_live ? "checked" : ""  %>

    <input  id="togglePageLive"
            class="row"
            type="checkbox" 
            data-toggle="toggle"
            name="showGalleryLive"
            <%= checked %>
    />

    <h3>Quick Upload/Delete for Single Image</h3>

    <div class="image-upload col-lg-4 well">
    
        <form id="imageUpload" 
                class="form-group upload-form" 
                action="/usergallery"
                method="post" 
                encType="multipart/form-data">
            
            <label>Upload image to gallery.</label>
            
            <input class="form-control-file" type="file" name="imageUpload" id="fileInput" />
            <input class="btn btn-success upload-image-btn" 
                    type="submit" 
                    name="uploadImage" 
                    id="imageSubmit" 
                    value="Upload image"/>
        
            </form>
    </div>

    <div class="image-delete col-lg-4 well">

        <form class="form-group delete-image-form" action="/usergallery" method="post">
            <label>Delete image from gallery.</label>

            <select id='deleteImage' class='form-control' name='deleteImage' required>
                <option value="">Please Select...</option>
                
                <% for (let image in arr_images ) { -%>
                    <option value="<%= arr_images[ image ]%>">
                        <%= arr_images[ image ]%>
                    </option>
                <% } -%>
                
            </select>

            <input class="btn btn-danger delete-image-btn" 
                    type="submit" 
                    name="deleteImage" 
                    value="Delete image" 
            />
        </form>
    </div>
    <div class="image-manager col-lg-12">
    
        <h3>Multiple Uploads And Advanced Image Settings</h3>
        
        <a class="btn btn-primary" href="<%= cloudinary_link %>" target="_blank">Manage Images</a>
    </div>
</div>	


<%- include( '../../partials/footer.ejs' ); %>